#{extends "clientfiles/layout.html" /}

<table class="table table-bordered table-condensed table-striped">
	<tr>
		<th>Directory Name</th>
		<th>Size</th>
		<th>% Complete</th>
		<th>Download</th>
	</tr>
#{list items:torrents, as:"t"}
	<tr>
		<td>
			<i class="icon-folder-open"></i>
			<a href="@{ClientFilesController.singleTorrent(t.hashString)}">${t.name}</a>
		</td>
		<td>${t.totalSize}</td>
		<td>${t.percentDone}%</td>
		<td style="text-align: center;">
			[ <a href="${t.filesAsTree?.get(0).getZipDownloadLink(activeAccount.primaryUser)}">Zip</a> ]
		</td>
	</tr>
#{/list}
</table>