#{extends "main.html" /}
#{set title: "Login" /}
#{set "moreStyles"}
<style type="text/css">
	.oauth-images img {
		margin-right: 20px;
	}
</style>
#{/set}
<br />
<div>
    <h2>Login to OpenSeedbox</h2>
    <br />
    <p>You can login using OpenID below.</p>
    <br />
    <div class="row">
    <div class="signin">
        <span id="signinButton">
            <span
              class="g-signin2"
              data-onsuccess="onSignIn"
              data-onfailure="onSignInFailure"
              data-clientid="${clientId}"
              data-cookiepolicy="single_host_origin"
              data-scope="openid email profile">
            </span>
        </span>
    </div>
    </div>
    #{if (keyCloak)}
    <div class="row">
        <a href="@{AuthKeyCloak.authenticate()}" style="background-color: #0dafd5">
            Sign in with Keycloak
        </a>
    </div>
    #{/if}
    </div>
</div>
<script type="text/javascript">
    var signinClicked = false;
    function onSignIn(googleUser) {
        if (googleUser.isSignedIn() && signinClicked) {
            var id_token = googleUser.getAuthResponse().id_token;
            document.location.href = "@{Auth.authenticate()}?id_token=" + id_token;
        } else if (googleUser.isSignedIn()) {
            gapi.auth2.getAuthInstance().signOut().then(function () {
                console.log('User signed out.');
            });
        }
    }

    function onSignInFailure() {
        console.log("Unable to sign in!");
    }

    $("#signinButton").click(function() {
       signinClicked = true;
    });
</script>