%{
def value_str = _value_str ?: "value";
def name_str = _name_str ?: "name";
def id = (_id) ? _id : _name;
}%
<div class="control-group #{ifError _name}error#{/ifError}">
	<label class="control-label" for="${_name}">${_label}</label>
	<div class="controls">
		<select id="${id}" name="${_name}">
		#{list items:_options, as:"option"}		
			%{
				def value
				def text
				if (option instanceof String) {
					value = option
					text = option
				} else {				
					value = option[value_str];
					text = option[name_str];
				}
			}%
			<option value="${value}"
				#{if (value?.toString() == _value?.toString())}selected="selected"#{/if}>
					${text}
			</option>
		#{/list}
		</select>
		#{if _help}
			<p class="help-block">${_help}</p>
		#{/if}
		<span class="help-inline">#{error "${_name}" /}</span>
	</div>
</div>
