#{extends "admin/index.html" /}
%{ def renderTable = { items -> }%
	#{if items?.size > 0}
	<table class="table table-condensed">
		<tr>
			<th style="width:15%">Title</th>
			<th>Last Ran (ago)</th>
			<th style="width:10%">Duration (ms)</th>
			<th style="width:55%">Errors / Result</th>
		</tr>
		#{list items:items, as:"job"}
		<tr>
			<td>${job.jobTitle}</td>
			<td>${job.lastRan}</td>
			<td>${job.durationMilliseconds}</td>
			<td>
				#{if job.successful}
					<span class="text-success">						
						${job.stackTrace ?: "Success"}					
					</span>
				#{/if}
				#{else}
					<pre class="text-error" style="margin-bottom:0px;">${job.stackTrace?.trimTo(60)}</pre>
					#{if job.stackTrace?.length() > 60}
					<a href="#" style="font-size: 70%" class="pull-right show-stack-trace">Show all</a>
					#{/if}
				#{/else}
			</td>
		</tr>
			#{if !job.successful && job.stackTrace?.length() > 60}
			<tr class="hide full-stack-trace">
				<td colspan="4">
					<pre class="text-error">${job.stackTrace}</pre>
					<a href="#" style="font-size: 70%" class="pull-right hide-stack-trace">Show less</a>
				</td>
			</tr>
			#{/if}	
		#{/list}
	</table>
	#{/if}
	#{else}
		<p>No jobs have been run yet.</p>
	#{/else}
%{ } }%
%{ def renderHeaderWithToc = { Map jobName, Map jobData ->
	if (jobName.size != jobData.size || jobName.size == 0) {
		return
	}
	def toc = '<span><ul class="nav nav-list">\n'
	toc += '<li class="nav-header">Job List</li>'
	jobName.each { id, name ->
		toc += "<li><a href=\"#${id}\">${name}</a></li>\n"
	}
	toc += '\n</ul></span>'

	out.print(toc)

	jobData.each { id, data ->
		out.print('<h2 id="' + id + '">' + jobName[id] + '<small>&nbsp;<a href="' + play.mvc.Router.reverse('Admin.runJobManually', [type: id]).url + '#' + id + '">Run</a></small></h2>\n')
		renderTable(data)
	}
}
%}
<span class="pull-right">Time: ${new Date()}</span>
%{renderHeaderWithToc(jobNames, jobs) %}
<script type="text/javascript">
	$(document).ready(function() {
		$("a.show-stack-trace").click(function() {
			$(this).prev().hide();
			$(this).hide();
			$(this).parents("tr:first").next(".full-stack-trace").show();
			return false;
		});
		$("a.hide-stack-trace").click(function() {
			$(this).parents("tr:first").hide();
			$(this).parents("tr").prev().children("td:last").children().show();
			return false;
		});	});
</script>
<style type="text/css">
	.full-stack-trace td {
		border-top: 0px;
	}
</style>
