#{extends "admin/index.html" /}
#{if !node}
	<h2>Create new Node</h2>
#{/if}
#{else}
	<h2>Editing node ${node?.name}</h2>
#{/else}
<p>
	<form class="form-horizontal" method="post" action="@{Admin.updateNode}">
		#{if node}
			#{form.hidden name:"node.id", value:node?.id /}
		#{/if}
		#{form.text name:"node.name", value:node?.name, label:"Name" /}
		#{form.text name:"node.scheme", value:node?.scheme, label:"Scheme", css_class:"input-mini", help:"http or https" /}
		#{form.text name:"node.ipAddress", value:node?.ipAddress, label:"Host / IP Address : Port\n For Communication", help: "e.g. localhost:9001<br/>should be accessible from the server" /}
		#{form.text name:"node.downloadIpAddress", value:node?.downloadIpAddress, label:"Host / IP Address : Port\n For Downloads", help: "optional, leave empty if it's the same" /}
		#{form.text name:"node.apiKey", value:node?.apiKey, label:"Webservice API Key" /}			
		#{form.checkbox name:"node.active", value:node?.active, label:"Active" /}
		<div class="form-actions"> 
			<a class="btn btn-danger pull-right" href="@{Admin.nodes()}">Cancel</a>
			#{if !node}
				<input class="btn btn-primary" type="submit" value="Create new Node" />
			#{/if}
			#{else}
				<input class="btn btn-primary" type="submit" value="Update Node" />				
			#{/else}
		</div>
	</form>
</p>
