#{extends "admin/index.html" /}
#{if !node}
	<h2>Create new Node</h2>
#{/if}
#{else}
	<h2>Editing node ${node?.name}</h2>
#{/else}
<div class="alert alert-warning">
	<h3>Note:</h3>
	<p>
		The SSH Username & SSH Password should be that of a non-priveledged user.
		They are used to make a SSH connection to the node. The Root Password is
		then used via sudo for any actions that require root access.
	</p>
	<p>
		Also, the node should be running Ubuntu 12.04 as thats what the prepare scripts are tested with.
	</p>
</div>
<p>
	<form class="form-horizontal" method="post" action="@{Admin.updateNode}">
		#{form.hidden name:"node.id", value:node?.id /}
		#{form.text name:"node.name", value:node?.name, label:"Name" /}
		#{form.text name:"node.ipAddress", value:node?.ipAddress, label:"Host" /}
		#{form.text name:"node.username", value:node?.username, label:"SSH Username" /}
		#{form.text name:"node.password", value:node?.password, label:"SSH Password" /}
		#{form.text name:"node.rootPassword", value:node?.rootPassword, label:"Root Password" /}
		#{form.dropdown name:"node.backendClass", value:node?.backendClass, label:"Backend Type", options:backends /}
		#{form.checkbox name:"node.active", value:node?.active, label:"Active" /}
		<div class="form-actions"> 
			<a class="btn btn-danger pull-right" href="@{Admin.nodes()}">Cancel</a>
			#{if !node}
				<input class="btn btn-primary" type="submit" value="Create new Node" />
			#{/if}
			#{else}
				<input class="btn btn-primary" type="submit" value="Update Node" />
				<a class="btn pull-right" href="@{Admin.prepareNode(node.id)}">Run Prepare Script</a>
			#{/else}
		</div>
	</form>
</p>
