#{extends "admin/index.html" /}
<h2>Preparing node ${node.name}</h2>
<p>
	<a id="prepare-node" class="btn" href="#">Click to run prepare script on node</a>
</p>
<p>
	<iframe id="prepare-node-iframe" data-src="@{Admin.prepareNodeIframe(node.id)}"></iframe>
</p>
<script type="text/javascript">
	$(document).ready(function() {
		$("#prepare-node").click(function() {
			var iframe = $("#prepare-node-iframe");
			$(iframe).attr("src", $(iframe).data("src"));
			return false;
		});
	});
</script>
<style type="text/css">
	iframe {
		width: 100%;
		height: 500px;
	}
</style>
