<div class="modal" id="edit-config" data-node-id="${node.id}">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3>Edit Configuration for node: ${node.name}</h3>
	</div>
	<div class="modal-body">
		<form id="edit-config-form">
			<table class="table table-bordered">
				<tr>
					<th>Setting</th>
					<th>Value</th>
				</tr>
				#{list items:relevantFields, as:'field'}
				<tr>
					<td>${field.key}</td>
					<td><input type="text" name="tc.${field.value.name}" value="${field.value.get(tc)}" /></td>
				</tr>
				#{/list}
			</table>
			<input type="hidden" name="id" value="${node.id}" />
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-primary save-button" data-node-id="${node.id}">Save</a>
		<a href="#" class="btn set-default-button" data-node-id="${node.id}">Revert to Defaults</a>
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>
