#{extends "admin/index.html" /}
<style type="text/css">
	#nodes td {
		vertical-align: middle;
		text-align: center;
	}
</style>
<h2>Nodes</h2>
#{if (!nodes.isEmpty())}
<table id="nodes" class="table table-condensed">
	<tr>
		<th>Name</th>
		<th>IP Address</th>		
		<th style="width:20%;">Uptime</th>
		<th>Free Space</th>
		<th>Used Space</th>
		<th>Active</th>
		<th>Backend Up</th>
		<th>Action</th>
	</tr>
#{list items:nodes, as:"node"}
	<tr class="node-line" data-node-id="${node.id}">
		<td><a href="${node.downloadScheme}://${node.downloadIpAddress}/" target="_blank">${node.name}</a></td>
		<td>
			#{if node.ipAddress == node.downloadIpAddress }
				${node.ipAddress}
			#{/if}
			#{else}
				<div>${node.ipAddress}</div>
				<div>${node.downloadIpAddress}</div>
			#{/else}
		</td>
		<td class="node-uptime"><img src="#{asset.ajax /}" /></td>
		<td class="node-free-space"></td>
		<td class="node-used-space"></td>
		<td>
			#{if (node.active)}
				<span style="color:green;">yes</span>
			#{/if}
			#{else}
				<span style="color:red;">no</span>
			#{/else}
		</td>
		<td class="node-backend-up"></td>
		<td>			
			<a class="btn btn-small" href="@{Admin.restartBackend(node.id)}" rel="tooltip" title="Restart Backend"><i class="icon-retweet"></i></a>
			<a class="btn btn-small" href="@{Admin.editNode(node.id)}" rel="tooltip" title="Edit"><i class="icon-edit"></i></a>
			<a class="btn btn-danger btn-small" href="@{Admin.deleteNode(node.id)}" rel="tooltip" title="Remove"><i class="icon-remove"></i></a>
		</td>
	</tr>
#{/list}
</table>
#{/if}
#{else}
	No nodes have been added yet.
#{/else}
<div class="form-actions">	
		<a href="@{Admin.createNode}" class="btn btn-primary">Create new Node</a>	
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('[rel=tooltip]').tooltip();
		$(".node-line").each(function() {
			var id = $(this).data("node-id");
			var self = this;
			$.getJSON("@{Admin.nodeStatus}?ext=json", { "id" : id }, function(data) {
				if (data.success) {
					data = data.data;					
					$(self).find(".node-uptime").html(data.uptime);
					$(self).find(".node-free-space").html(parseInt(data['free-space-bytes'] / (1024 * 1024 * 1024)) + "GB");
					$(self).find(".node-used-space").html(parseInt(data['used-space-bytes'] / (1024 * 1024 * 1024)) + "GB");	
					var running = data['is-backend-running'];					
					var html = (!running) ? "<span class='text-error'>no</span>" : "<span class='text-success' rel='tooltip' title='" + data['backend-version'] + "'>yes</span>";
					var backendUp = $(self).find(".node-backend-up")
					backendUp.html(html);
					$(backendUp).find('[rel=tooltip]').tooltip()
				} else {
					$(self).find(".node-uptime").html("<span class='text-error'>Error: " + data.error + "</span>");
				}
			}).error(function() {
				
			});
		});
	});
</script>