#{extends "admin/index.html" /}
#{if plan}
	<h2>Editing Plan '${plan.name}'</h2>
#{/if}
#{else}
	<h2>Create new Plan</h2>
#{/else}
<p>
<form method="post" class="form-horizontal" action="@{Admin.updatePlan}">
	#{if plan}
		#{form.hidden name:"plan.id", value:plan?.id /}
	#{/if}
	#{form.text name:"plan.name", value:plan?.name, label:"Plan Name" /}
	#{form.text name:"plan.maxDiskspaceGb", value:plan?.maxDiskspaceGb, label:"Max. Diskspace (GB)", css_class:"input-mini" /}
	#{form.text name:"plan.maxActiveTorrents", value:plan?.maxActiveTorrents, label:"Max. Active Torrents", help:"(-1 for unlimited)", css_class:"input-mini" /}
	#{form.text name:"plan.monthlyCost", value:plan?.monthlyCost, label:"Monthly Cost (\$)", css_class:"input-small" /}
	#{form.text name:"plan.totalSlots", value:plan?.totalSlots, label:"Total Slots Available", css_class:"input-small" /}
	#{form.checkbox name:"plan.visible", value:plan?.visible, label:"Visible to Customers" /}
	<div class="form-actions">
		#{if plan}
			<input class="btn btn-primary" type="submit" value="Update Plan" />
		#{/if}
		#{else}
			<input class="btn btn-primary" type="submit" value="Create new Plan" />
		#{/else}
	</div>
</form>
</p>