#{extends "admin/index.html" /}
<style type="text/css">
	#plans td {
		vertical-align: middle;
	}
</style>
<h2>Plans</h2>
#{if plans}
<table id="plans" class="table table-condensed">
	<tr>
		<th>Plan Name</th>
		<th>Max. Diskspace (GB)</th>
		<th>Max. Active Torrents</th>
		<th>Monthly Cost</th>
		<th>Total Slots</th>
		<th>Free Slots</th>
		<th>Visible</th>
		<th>Action</th>
	</tr>
	#{list items:plans, as:"plan"}
	<tr>
		<td>${plan.name}</td>
		<td>${plan.maxDiskspaceGb}</td>
		<td>
			#{if (plan.maxActiveTorrents == -1)}Unlimited#{/if}
			#{else}${plan.maxActiveTorrents}#{/else}
		</td>
		<td>$${plan.monthlyCost}</td>
		<td>${plan.totalSlots}</td>
		<td>${plan.freeSlots}</td>
		<td>
			#{if (plan.visible)}<span class="text-success">yes</span>#{/if}
			#{else}<span class="text-error">no</span>#{/else}
		</td>
		<td>
			<div class="pull-right">
				<a id="edit" class="btn btn-mini" href="@{Admin.editPlan(plan.id)}"><i class="icon-edit"></i></a>
				<a id="delete" class="btn btn-danger btn-mini" href="@{Admin.deletePlan(plan.id)}"><i class="icon-remove"></i></a>
			</div>
		</td>
	</tr>
	#{/list}
</table>
#{/if}
#{else}
	<p>No plans in the system.</p>
#{/else}
<div class="form-actions">
	<a class="btn btn-primary" href="@{Admin.createPlan}">Create new Plan</a>
</div>
