#{extends "admin/index.html" /}
<h2>Slots</h2>
<table class="table table-bordered table-striped">
	<tr>
		<th>Plan Name</th>
		<th>Node Name</th>
		<th>Free Slots</th>
		<th>Used Slots</th>
		<th>Actions</th>
	</tr>
	#{list items:slots, as:"slot"}
	<tr>
		<td>${slot.plan.name}</td>
		<td>${slot.node.name}</td>
		<td>${slot.freeSlots}</td>
		<td>${slot.usedSlots}</td>
		<td>
			<div class="pull-right">
				<a class="btn btn-primary" href="@{AdminController.editSlot(slot)}">Edit</a>
				<a class="btn btn-error" href="@{AdminController.deleteSlot(slot.id)}">Delete</a>
			</div>
		</td>
	</tr>
	#{/list}
</table>
<div class="form-actions">
	<a class="btn btn-primary" href="@{AdminController.editSlot()}">Create new slots</a>
</div>