#{extends "admin/index.html" /}
#{if (slot == null)}
	<h2>Create new slots</h2>
#{/if}
#{else}
	<h2>Editing slot ${slot.id}</h2>
#{/else}
<p>
	<form class="form-horizontal" action="@{AdminController.updateSlot()}" method="post">
		#{form.hidden name:"slot.id", value:slot?.id /}
		#{form.dropdown name:"slot.node.id", value:slot?.node, options:nodes, label:"Node", name_str:"name", value_str:"id" /}  
		#{form.dropdown name:"slot.plan.id", value:slot?.plan?.id, options:plans, label:"Plan", name_str:"name", value_str:"id" /}
		#{form.text name:"slot.freeSlots", value:slot?.freeSlots, label:"Free Slots" /}
		%{ buttons = (slot == null) ?
				[ [ label:"Create new Slots", value:"create" ], [ label:"Cancel", value:"cancel" ] ] :
				[ [ label:"Update Slots", value:"update" ], [ label:"Cancel", value:"cancel" ] ]}%
		#{form.actions buttons: buttons /}	
	</form>
</p>

