#{extends "admin/index.html" /}
%{ def Util = com.openseedbox.code.Util }%
<h2>Stats</h2>
<table class="table table-condensed">
	<tr>
		<th>Stat</th>
		<th>Value</th>
	</tr>
	<tr>
		<td>Number of Nodes</td>
		<td>${nodeCount}</td>
	</tr>
	<tr>
		<td>Number of Users</td>
		<td>${userCount}</td>
	</tr>
	<tr>
		<td>Number of Torrents</td>
		<td>${torrentCount}</td>
	</tr>
	<tr>
		<td>Total space available across all nodes</td>
		<td>${Util.getBestRate(totalSpaceBytes)}</td>
	</tr>
	<tr>
		<td>Total space used across all nodes</td>
		<td>${Util.getBestRate(usedSpaceBytes)}</td>
	</tr>	
</table>