#{extends "admin/index.html" /}
<h2>Update Backend Config</h2>
#{if redirectToCreateNode}
<div class="alert alert-warning">
	As this is your first node, please review the backend configuration below.
</div>
#{/if}
<form action="@{Admin.updateBackendConfigPost}" method="post" class="form-horizontal">
	#{form.hidden name:"redirectToCreateNode", value:redirectToCreateNode /}
	#{form.text label:"Base Folder", name:"config.baseFolder", value:config.baseFolder, help:"Base folder that all other folders are <b>relative to</b>" /}
	#{form.text label:"Complete Folder", name:"config.completeFolder", value:config.completeFolder, help:"Completed torrents will be put in this folder.", css_class:"input-xlarge" /}
	#{form.text label:"Incomplete Folder", name:"config.incompleteFolder", value:config.incompleteFolder, help:"Partially downloaded torrents will be put in this folder.", css_class:"input-xlarge" /}
	#{form.text label:"Metadata Folder", name:"config.torrentFolder", value:config.torrentFolder, help:".torrent files will be put in here", css_class:"input-xlarge" /}
	#{form.text label:"Ratio Limit", name:"config.ratioLimit", value:config.ratioLimit, help:"Torrents will automatically stop when this limit is hit. -1.0 means unlimited.", css_class:"input-mini" /}
	#{form.text label:"Total Upload Speed (kb/s)", name:"config.uploadSpeedLimitKb", value:config.uploadSpeedLimitKb, help:"Upload speed limit <b>for the whole backend instance</b>. -1 means unlimited.", css_class:"input-mini" /}
	#{form.text label:"Total Download Speed (kb/s)", name:"config.downloadSpeedLimitKb", value:config.downloadSpeedLimitKb, help:"Download speed limit <b>for the whole backend instance</b>. -1 means unlimited.", css_class:"input-mini" /}
	<h3>Blocklist URLS</h3>
	#{form.textarea label:"Blocklist URLS (one per line)", name:"blocklistUrls", value:config.blocklistUrls?.join(" "), extraattrs:"rows='5'" /}
	<div class="form-actions">
		<input type="submit" class="btn btn-primary" value="Update Backend Config" />
	</div>
</form>
<style type="text/css">
	#blocklistUrls {
		width: 100%;
	}
</style>
