#{extends "admin/index.html" /}
<style type="text/css">
	#plans td {
		vertical-align: middle;
	}
</style>
<h2>Users</h2>
<table class="table table-condensed">
	<tr>
		<th>Email Address</th>
		<th>Plan</th>
		<th>Dedicated Node</th>
		<th>Available</th>
		<th>Used</th>					
		<th>Action</th>
	</tr>
	#{list items:users, as:"user"}
	<tr>
		<td>${user.emailAddress}</td>		
		<td>
			#{if user.plan}
				${user.plan.name}
			#{/if}
			#{else}
				<span class="text-error">Not on a plan</span>
			#{/else}
		</td>
		<td>
		#{if user.hasDedicatedNode()}
			<a href="@{Admin.editNode(user.dedicatedNode.id)}">${user.dedicatedNode.name}</a>
		#{/if}
		#{else}
			N/A
		#{/else}
		</td>		
		<td>
			#{if user.plan}
				${user.plan.maxDiskspaceGb} GB
			#{/if}
		</td>
		<td>${user.usedSpace}</td>
		<td>
			<a class="btn btn-small" href="@{Admin.editUser(user.id)}"><i class="icon-edit"></i></a>
			<a class="btn btn-danger btn-small" href="@{Admin.deleteUser(user.id)}"><i class="icon-remove"></i></a>
		</td>
	</tr>
	#{/list}	
</table>