#{extends "main.html" /}
#{set title:"Torrents" /}
<div class="row">
	<div class="span2">
		<ul class="nav nav-pills nav-stacked nav-list">
			<li class="active"><a href="#">All</a></li>
			<li class="group">
				<a href="#">Music <i class="icon-minus pull-right hide" rel="tooltip" title="test"></i></a>
			</li>
			<li><a href="#">TV Shows</a></li>
			<li><a href="#">${"Really Fricken Long Group Name Lalala".substring(0,15)}</a></li>
			<li class="divider"></li>
			<li><a href="#"><i class="icon-plus"></i> Add Group</a></li>
		</ul>
	</div>
	<div class="span10">	
		<input type="checkbox" style="margin-right: 25px; margin-left: 10px; margin-top: 8px;" class="pull-left"/>
		<div class="btn-group pull-left">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">With Selected <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#">Start</a></li>
				<li><a href="#">Pause</a></li>
				<li><a href="#">Remove</a></li>				
			</ul>
		</div>		
		<a class="btn btn-success pull-right"><i class="icon-plus-sign"></i>Add Torrent</a>
		<div class="clearfix" style="margin-bottom: 5px;"></div>
		<table class="table table-condensed table-hover">
			<tr style="width:100%;">
				<td>
					<table class="no-table" style="width:100%;">
						<tr>
							<td colspan="3">
								<h5 class="torrent-title">Some Really Cool Torrent With A Sweet Name <small>- Downloading, 82%</small></h5>
								
							</td>
						</tr>
						<tr>
							<td style="width:5%;"><input class="torrent-checkbox" type="checkbox" /></td>
							<td style="width:80%;">
								<div class="progress progress-striped active">
									<div class="bar bar-success" style="width:82%"></div>
								</div>
							</td>
							<td style="width:15%;">
								<div class="btn-group pull-right">
									<a class="btn btn-mini" href="#"><i class="icon-info-sign"></i></a>
									<a class="btn btn-mini" href="#"><i class="icon-pause"></i></a>									
									<a class="btn btn-mini" href="#"><i class="icon-remove"></i></a>
								</div>									
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr style="width:100%;">
				<td>
					<table class="no-table" style="width:100%;">
						<tr>
							<td colspan="3"><h5 class="torrent-title">Another Really Cool Torrent With A Sweet Name <small>- Paused</small></h5></td>
						</tr>
						<tr>
							<td style="width:5%;"><input class="torrent-checkbox" type="checkbox" /></td>
							<td style="width:80%;">
								<div class="progress progress-warning">
									<div class="bar" style="width:40%"></div>	
								</div>								
							</td>
							<td style="width:15%;">
								<div class="btn-group pull-right">
									<a class="btn btn-mini" href="#"><i class="icon-info-sign"></i></a>
									<a class="btn btn-mini" href="#"><i class="icon-play"></i></a>												
									<a class="btn btn-mini" href="#"><i class="icon-remove"></i></a>
								</div>									
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<div class="pull-right">
						<h5><small>Used: 50gb, Down: 153kb/s, Up: 762kb/s</small></h5>
					</div>
				</td>
			</tr>
		</table>		
	</div>
</div>
<style type="text/css">
.no-table tr, .no-table td {
	border: 0 none;
}
</style>
<script type="text/javascript">
$(document).ready(function() {
	$(".group").mouseover(function() {
		$(".group .icon-minus").show();
	}).mouseout(function() {
		$(".group .icon-minus").hide();
	});
	
	$("i[rel=tooltip]").tooltip({
		"title" : "Hey Ya!"
	});
});
</script>