#{extends "main.html" /}
%{ def Config = com.openseedbox.Config; }%
#{set "moreScripts"}
	<script type="text/javascript" src="#{asset.url 'javascripts/ajax-typeahead.min.js' /}"></script>
	<script type="text/javascript" src="#{asset.url 'javascripts/jquery-ui.custom.min.js' /}"></script>
#{/set}
#{set title:"Torrents" /}
<div id="user-messages">
#{if userMessages?.size > 0}
	#{list userMessages}
	<div class="alert alert-error">
		<a href="#" data-dismiss="alert" class="close">&times;</a>
		<h4 class="alert-heading">${_.heading}</h4>
		<p>${_.message}</p>
	</div>
	#{/list}
#{/if}
</div>
<script id="user-message-template" type="text/x-jquery-tmpl">
	<div class="alert alert-error">
		<a href="#" data-dismiss="alert" class="close">&times;</a>
		<h4 class="alert-heading">__heading__</h4>
		<p>__message__</p>
	</div>	
</script>
<div class="row">
	<div class="span10 offset2">
		<span class="pull-left">
		#{if currentGroup == "Ungrouped" && groups.size == 1}
			<h3>All torrents</h3>
		#{/if}
		#{else}
			<h3>${currentGroup} torrents</h3>
		#{/else}
		</span>
		#{if currentUser.admin}		
		<form class="pull-right form-inline"action="@{Client.switchUser}" method="post">
			#{form.dropdown name:"user_id", label:"", options:users, value:currentUser.id, raw:true /}
			<input class="btn btn-primary btn-small" type="submit" value="Switch" />
		</form>
		#{/if}
	</div>
</div>
<div class="row">
	<div class="span2">
		<ul id="torrent-groups" class="nav nav-pills nav-stacked nav-list">
			#{list items:groups, as:"group"}
				<li class="group #{if currentGroup == group}active#{/if}" data-group-name="${group}">
					<a href="@{Client.index(group)}">
						#{if group == "Ungrouped" && groups.size == 1}
							All
						#{/if}
						#{else}
							${group.length() > 15 ? group.substring(0, 15) : group}
						#{/else}
						#{if group != "Ungrouped"}
							<i class="icon-minus pull-right hide remove-group" data-group-name="${group}" rel="tooltip" title="Remove"></i>
						#{/if}
					</a>
				</li>
			#{/list}
			<li class="divider"></li>
			<li><a id="add-group-button" href="#add-group-dialog" data-toggle="modal"><i class="icon-plus"></i> Add Group</a></li>
		</ul>
	</div>
	<div class="span10">			
			<input id="select-all" type="checkbox" style="margin-right: 25px; margin-left: 10px; margin-top: 8px;" class="pull-left"/>
			<form id="with-selected-form" action="@{Client.action}" method="post" style="margin:0px;">
				<input type="hidden" name="what" value="" />
				<input type="hidden" name="hashes" value="" />
			</form>
			<div class="btn-group pull-left">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">With Selected <span class="caret"></span></a>
				<ul id="with-selected-dropdown" class="dropdown-menu">
					<li><a href="#" data-what="start">Start</a></li>
					<li><a href="#" data-what="stop">Pause</a></li>
					<li><a href="#" data-what="remove">Remove</a></li>
					<li><a id="add-to-group-button" href="#">Add to Group</a></li>
					<li><a id="remove-from-group-button" href="#">Remove from Group</a></li>
					#{if Config.multiZipEnabled}
						<li><a id="download-as-zip-button" href="#">Download as Zip</a></li>
					#{/if}
				</ul>
			</div>
			<div class="btn-group pull-right">
				<a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-plus-sign"></i>Add Torrent
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#add-torrent-from-file-dialog" data-toggle="modal">From File</a></li>
					<li><a href="#add-torrent-from-url-dialog" data-toggle="modal">From URL/Magnet</a></li>
					<li><a href="#add-torrent-from-search-dialog" data-toggle="modal">Search</a></li>
				</ul>
			</div>
		<div class="clearfix" style="margin-bottom: 5px;"></div>
		<div id="torrent-list">
			${torrentList.raw()}
		</div>
	</div>
</div>
<div class="modal hide" id="add-torrent-from-file-dialog">
	<form class="form-horizontal" action="@{Client.addTorrent}" enctype="multipart/form-data" method="post">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h2>Add Torrent from local file</h2>
		</div>
		<div class="modal-body">
			#{form.upload label:"Choose a file: ", name:"fileFromComputer", multiple:true /}
		</div>
		<div class="modal-footer">
			<input type="submit" class="btn btn-primary" value="Add Torrent" />
			<a href="#" class="btn" data-dismiss="modal">Close</a>			
		</div>
	</form>
</div>
<div class="modal hide" id="add-torrent-from-url-dialog">
	<form action="@{Client.addTorrent}" method="post">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h2>Add Torrent from URL/Magnet</h2>
	</div>
	<div class="modal-body">
		#{form.textarea label:"URLS/Magnet links (one per line): ", name:"urlOrMagnet", extraattrs:"style='width:520px;height:200px;'" /}
	</div>
	<div class="modal-footer">
		<input type="submit" class="btn btn-primary" value="Add Torrent" />
		<a href="#" class="btn" data-dismiss="modal">Close</a>		
	</div>
	</form>
</div>
<div class="modal hide" id="add-torrent-from-search-dialog">
	<form class="form-horizontal" method="post" action="@{Client.addTorrent}">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h2>Search for Torrents <img id="search-loader" class="hide" src="#{asset.ajax /}" /></h2>
	</div>
	<div class="modal-body">
		#{list items:searchPlugins, as:"sp"}
			#{form.text css_class:"search", label:sp.pluginName, name:"query", extraattrs:"data-provider-class='${sp.class.name}'" /}
		#{/list}
		<input id="search-url" name="urlOrMagnet" value="" type="hidden" />
	</div>
	<div class="modal-footer">
		<input type="submit" class="btn btn-primary" value="Add Torrent" />
		<a href="#" class="btn" data-dismiss="modal">Close</a>		
	</div>
	</form>
</div>
<div class="modal hide" id="remove-torrent-dialog">
	<form action="@{Client.action}" method="post" class="no-margin">
		<input name="hash" value="" type="hidden" />
		<input name="hashes" value="" type="hidden" />
		<input name="what" value="remove" type="hidden" />
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h3>Remove Torrent</h3>
		</div>	
		<div class="modal-body">
			<p>Are you sure you want to remove <strong class="torrent-name"></strong>?</p>
		</div>
		<div class="modal-footer">
			<input class="btn btn-danger" type="submit" value="Remove" />
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</form>
</div>
<div class="modal hide" id="add-group-dialog">
	<form action="@{Client.addGroup}" method="post" class="no-margin form-horizontal">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h3>Add Group</h3>
		</div>	
		<div class="modal-body">
			#{form.text label:"Group Name", name:"group" /}
		</div>
		<div class="modal-footer">
			<input class="btn btn-primary" type="submit" value="Add Group" />
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</form>
</div>
<div class="modal hide" id="add-to-group-dialog">
	<form action="@{Client.addToGroup}" method="post" class="no-margin form-horizontal">
		<input type="hidden" name="hashes" value="" />		
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h3>Add Torrents To Group</h3>
		</div>	
		<div class="modal-body">
			<p>Add <span class="torrent-count"></span> torrents to the following group:</p>
			#{form.dropdown label:"Group", name:"group", options:groups.minus("All") /}
			#{form.text label:"New Group", name:"new_group" /}
		</div>
		<div class="modal-footer">
			<input class="btn btn-primary" type="submit" value="Add to Group" />
			<a href="#" class="btn" data-dismiss="modal">Close</a>
		</div>
	</form>
</div>
<style type="text/css">
.no-table tr, .no-table td {
	border: 0 none;
}
.torrent-progress, .torrent-speed {
	margin-bottom: 0px;
}
.torrent-speed h5 {
	margin-left: 40px;
}

a.download-link, a.download-link:hover {
	text-decoration: none;
}

.modal form {
	margin: 0px;
}

.icon-loader {
	background:url("#{asset.ajax /}")
}

.torrent-title {
	margin-bottom: 0px;
}

#torrent-info-modal, #torrent-download-modal {
	width: 800px;
	margin-left: -370px;
}
</style>
<script type="text/javascript">
(function($) {
	
	window.refresh_disabled = false;
	
	$(document).ajaxSuccess(function(evt, xhr) {
		try {
			var data = $.parseJSON(xhr.responseText);
			if (data.error) {
				$.flashError(data.error);
			}
		} catch (e) {
			//ignore, probably wasnt JSON that was returned
		}
	});
	
	$(document).ready(function() {
		var already_refreshing = false;
		var activeGroup = "${currentGroup}";
		var activeAjaxRequest;
		var first_time = true;
		var refresh = function(force) {
			if (first_time) { first_time = false; return; }
			if (already_refreshing && !force) {return;} //wait for previous refresh to finish before starting a new one, unless force is set
			if (window.refresh_disabled) {return;} //refresh gets disabled when window loses focus to take load off server
			already_refreshing = true;
			if (activeAjaxRequest && force) {
				activeAjaxRequest.abort();
			}
			activeAjaxRequest = $.getJSON("/client/update", {"group" : activeGroup, "ext" :"json" }, function(data) {
				
				if (!data) { return; }
				data = data.data;

				//hide any tooltips before replacing, otherwise bootstrap loses the reference to the tooltip text
				//and it will never disappear
				$(".torrent-add-group").tooltip("hide");
				
				//get checked hashes before torrent-list is overwritten
				var ch = checked_hashes();
				
				//update torrent list
				$("#torrent-list").html(data["torrent-list"]);
				
				//write out any error messages
				if (data["user-messages"]) {					
					for (um in data["user-messages"]) {
						um = data["user-messages"][um];						
						//using Maori Templates because I cant be bothered including jquery-templates
						var t = $("#user-message-template").html();						
						t = t.replace("__heading__", um.heading);
						t = t.replace("__message__", um.message);						
						$("#user-messages").append(t);
					}
				}
				
				//process checked hashes
				for (var hash in ch) {
					hash = ch[hash];					
					$(".torrent-row[data-torrent-hash=" + hash + "]").addClass("info");
				}
				already_refreshing = false;
			});
		};		
		setInterval(refresh, 10000); //db is only populated every 10 seconds so refreshing faster than this just causes undue load
		
		$(window).on("focus", function() {
			window.refresh_disabled = false;
			refresh(); //refresh immediately as soon as window gains focus
		}).on("blur", function() {
			window.refresh_disabled = true;
		});				
		
		//NORMAL EVENT HANDLERS		
		$(".group").mouseover(function() {
			$(this).find(".icon-minus").show();
		}).mouseout(function() {
			$(this).find(".icon-minus").hide();
		});

		$("i.remove-group").click(function() {
			var groupName = $(this).data("group-name");
			if (confirm("Are you sure you want to remove the group '" + groupName + "'?")) {
				document.location.href="@{Client.removeGroup}?group=" + groupName;
			}
			return false;
		});

		$("#select-all").click(function() {
			if ($(this).is(":checked")) {
				$(".torrent-row").addClass("info");
			} else {
				$(".torrent-row").removeClass("info");
			}
		});

		$("#with-selected-dropdown a[data-what]").click(function() {
			var what = $(this).data("what");		
			var ch = checked_hashes();
			if (ch.length > 0) {
				if (confirm("Are you sure you want to " + what + " these " + ch.length + " torrents?")) {
					$("#with-selected-form input[name=what]").val(what);
					$("#with-selected-form input[name=hashes]").val(ch.join(","));			
					$("#with-selected-form").submit();
					return false;	
				}
			}			
		});
		
		$("#add-to-group-button").click(function() {
			var ch = checked_hashes();
			if (ch.length > 0) {
				$("#add-to-group-dialog input[name=hashes]").val(ch.join(","));
				$("#add-to-group-dialog .torrent-count").html("<strong>" + ch.length + "</strong>");
				$("#add-to-group-dialog").modal("show");
			}
		});
		
		$("#remove-from-group-button").click(function() {
			var ch = checked_hashes();
			if (ch.length > 0) {
				if (confirm("Are you sure you want to remove these " + ch.length + " torrents from this group?")) {
					document.location.href = "@{Client.removeFromGroup(currentGroup)}";
				}
			}
		});
		
		$("#download-as-zip-button").click(function() {
			var ch = checked_hashes();
			if (ch.length > 0) {
				if (confirm("Are you sure you want to download these " + ch.length + " torrents as a combined zip?")) {
					document.location.href = "@{Client.downloadMultiple}?hashes=" + ch.join(",");
				}
			}
		});
		
		$(".search").each(function() {
			var provider = $(this).data("provider-class");
			$(this).typeahead({
				"ajax" : {
					"url" : "@{Client.search}",
					"displayField" : "label",
					"preDispatch" : function(query) {
						$("#search-loader").show();
						return {
							"query" : query,
							"providerClass" : provider
						};
					},
					"preProcess" : function(data) {
						$("#search-loader").hide();
						return data;
					}
				},
				"matcher" : function() { return true; },
				"display" : "label",
				"val" : "url",
				"itemSelected" : function(item, val, text) {
					$("#search-url").val(val);
				}
			});
		});
		
		//LIVE EVENT HANDLERS
		var checked_hashes = function() {
			var hashes = [];
			$(".torrent-row.info").each(function() {
				hashes.push($(this).data("torrent-hash"));
			});
			return hashes;
		};
		var clicked_index = -1;
				
		$("body").on("click", "a.remove-torrent", function() {
			var dialog = $("#remove-torrent-dialog");
			var hash = $(this).data("torrent-hash");
			var name = $(this).data("torrent-name");	
			$(dialog).find("input[name=hash]").val(hash);
			$(dialog).find(".torrent-name").html(name);			
			$(dialog).modal("show");
			window.refresh_disabled = true;	
			return false;
		}).on("click", "a.show-torrent-info", function() {
			var self = this;
			$(self).loading();
			$.post("/client/torrentInfo", {
				"hash" : $(this).data("torrent-hash")
			}, function(data) {
				$(self).loading();
				$("#torrent-info-modal").remove();
				$("#container").append(data);
				$("#torrent-info-modal").modal({
					"backdrop" : false
				});
			});			
			return false;
		}).on("click", ".torrent-row", function(evt) {			
			var this_index = $(this).data("index");
			if (clicked_index == -1 || !evt.shiftKey) {
				clicked_index = this_index;
			}
			var highlight_rows = (!evt.shiftKey) ? [this] : [];
			if (evt.shiftKey) {						
				var start = (clicked_index < this_index) ? clicked_index : this_index;
				var end = (clicked_index > this_index) ? clicked_index : this_index;				
				for (var x = start; x <= end; x++) {
					var elem = $(".torrent-row[data-index=" + x + "]");
					highlight_rows.push(elem[0]);
				}
			}			
			if (evt.ctrlKey) {
				var ch = checked_hashes();
				for (var c in ch) {
					highlight_rows.push($(".torrent-row[data-torrent-hash=" + ch[c] + "]")[0]);
				}				
			}
			//unhighlight all the rows
			$(".torrent-row").removeClass("info");
			for (var row in highlight_rows) {
				row = highlight_rows[row];
				var hash = $(row).data("torrent-hash");
				if (!$(row).is(".info")) {					
					$(row).addClass("info");
				} else if (!evt.shiftKey) {					
					$(row).removeClass("info");
				}		
			}
		}).on("mouseover", ".torrent-info", function() {
			$(this).find(".hide").show();
		}).on("mouseout", ".torrent-info", function() {
			$(this).find(".hide").hide();
		}).on("click", ".download-button", function() {
			var hash = $(this).data("torrent-hash");
			var oldhtml = $(this).html();
			$(this).html("<img src='#{asset.ajax /}' />");
			var self = this;
			$.post("/client/torrentDownload", { "hash" : hash }, function(data) {	
				$("#torrent-download-modal").remove();
				$("#container").append(data);
				$("#torrent-download-modal").modal({
					"backdrop" : false
				});				
				$(self).html(oldhtml);
			});
			return false;
		});	
		
		$("#torrent-groups").sortable({
			"items" : "li.group",
			"update" : function(evt, ui) {				
				var groups = [];
				$("#torrent-groups li.group").each(function() {
					groups.push($(this).data("group-name"));
				});
				$.getJSON("@{Client.updateGroupOrder}", { "newOrder" : groups });
			}
		});
		
	});
})(jQuery);

/*
 * Loading Icon plugin - replaces the first icon it finds in the element with an ajax loader
 * Flash Error plugin - easy way to flash error messages to the user
 */
(function($) {
	$.fn.loading = function() {
		return this.each(function() {
			var icon = $(this).find("i:first");
			$(icon).toggleClass("icon-loader");			
		});
	};
	$.extend({
		flashError : function(error) {
			$("#flash-error .flash-message-content").html(error);
			$("#flash-error").show();
		}
	});
})(jQuery);
	</script>