%{
	def Util = com.openseedbox.code.Util
	def torrentQueue = { -> }%
		#{if torrentAddEvents.size > 0}
			<h5><span class="text-success">Waiting to Add:</span> ${torrentAddEvents.size} torrent${torrentAddEvents.size.pluralize("s")}</h5>
		#{/if}
		#{if torrentRemoveEvents.size > 0}
			<h5><span class="text-error">Waiting to Remove:</span> ${torrentRemoveEvents.size} torrent${torrentRemoveEvents.size.pluralize("s")}</h5>
		#{/if}	
{%
	}
}%
#{if torrents.size > 0}
<table class="table table-condensed table-hover">
	#{list items:torrents, as:"item"}
	%{ def t = item.torrent }%
	<tr class="torrent-row unselectable" style="width:100%;" data-torrent-hash="${t.torrentHash}" data-index ="${item_index}">
		<td>
			<table class="no-table torrent-info" style="width:100%;">
				<tr>
					<td colspan="4">
						<h5 class="torrent-title pull-left">
							${t.name.trimTo(45)} (${item.niceTotalSize})
							<small>- ${item.niceStatus} ${item.niceSubStatus}</small>							
						</h5>	
						#{if (t.complete)}
						<h5 class="torrent-speed pull-right">
							<small>
								[ <a class="download-button" data-torrent-hash="${t.torrentHash}" href="#">Download</a> ]
								#{if com.openseedbox.Config.zipEnabled}
								[ <a class="zip-button" href="${t.zipDownloadLink}">Zip</a> ]
								#{/if}
							</small>
						</h5>					
						#{/if}
						#{elseif (t.running)}
						<h5 class="torrent-progress pull-right hide">
							<small>${Util.getBestRate(t.downloadSpeedBytes)}/s down, ${Util.getBestRate(t.uploadSpeedBytes)}/s up</small>
						</h5>
						#{/elseif}
						<div class="clearfix"></div>
						#{if t.error}
							<small class="text-error">${t.errorMessage}</small>
						#{/if}
					</td>
				</tr>
				<tr>
					<td style="width:85%;">		
						%{							
							def progressClass = ""
							def barClass = ""
							def width = t.percentComplete * 100
							
							if (t.metadataDownloading) {
								progressClass = (t.running) ? "progress-striped" : ""
								barClass = "bar-danger"
								width = t.metadataPercentComplete * 100
							} else if (item.paused) {
								progressClass = "active"
								barClass = "bar-warning";								
							} else if (t.downloading) {
								progressClass = (t.downloadSpeedBytes > 0) ? "progress-striped" : ""								
							} else if (t.seeding) {
								progressClass = (t.uploadSpeedBytes > 0) ? "progress-striped" : ""
								barClass = "bar-success"								
							}
						}%
						<div class="progress torrent-progress ${progressClass} active">
							<div class="bar ${barClass}" style="width:${width}%"></div>
						</div>											
					</td>
					<td style="width:15%;">
						<form action="@{Client.action}" method="post" class="no-margin pull-left">
							<input type="hidden" name="hash" value="${t.torrentHash}" />
							<input type="hidden" name="group" value="${currentGroup}" />
							<div class="btn-group pull-right">							
								<a class="btn btn-mini show-torrent-info" data-torrent-hash="${t.torrentHash}" href="#"><i class="icon-info-sign"></i></a>
								#{if item.running}
									<button type="submit" class="btn btn-mini" name="what" value="stop"><i class="icon-pause"></i></button>
								#{/if}
								#{else}
									<button type="submit" class="btn btn-mini" name="what" value="start"><i class="icon-play"></i></button>
								#{/else}
								<a class="btn btn-mini remove-torrent" data-torrent-hash="${t.torrentHash}" data-torrent-name="${t.name}" href="#"><i class="icon-remove"></i></a>
							</div>									
						</form>				
					</td>							
				</tr>
			</table>
		</td>
	</tr>			
	#{/list}	
	<tr>
		<td>
			<div class="pull-left">
				${torrentQueue()}
			</div>
			<div class="pull-right">
				%{	def stats = currentUser.userStats }%
				<h5><small>Available: ${stats.availableSpaceGb}, Used: ${stats.usedSpaceGb} ${stats.percentUsed}, Down: ${stats.totalDownloadRate}/s, Up: ${stats.totalUploadRate}/s</small></h5>
			</div>
		</td>
	</tr>	
</table>
#{/if}
#{else}	
	<p style="margin-top: 10px;">No torrents found. Add a torrent using the button on the right.</p>
	${torrentQueue()}	
#{/else}