%{ def Util = com.openseedbox.code.Util }%
<div class="modal fade" id="torrent-info-modal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3>${torrent.torrent.name}</h3>
	</div>
	<div class="modal-body">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#torrent-files" data-toggle="tab">Files</a></li>
			<li><a href="#torrent-trackers" data-toggle="tab">Trackers</a></li>
			<li><a href="#torrent-peers" data-toggle="tab">Peers</a></li>
			<li><a href="#torrent-stats" data-toggle="tab">Stats</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="torrent-files">
				#{if torrent.torrent.metadataDownloading}
					<p>Files will be listed when metadata finishes downloading.</p>
				#{/if}
				#{else}
					<table id="info-files-table" class="table table-condensed table-striped">
						<tr>
							<th style="width:70%">Name</th>
							<th style="width:15%">Size</th>
							<th style="width:15%">Done</th>						
						</tr>
					#{list items:torrent.filesAsTree, as:"file"}
						#{file-row file:file, hidePercentComplete:false /}
					#{/list}
					</table>
				#{/else}
			</div>
			<div class="tab-pane" id="torrent-trackers">
				#{if (torrent.torrent.trackers.size > 0)}
				<table class="table table-condensed table-striped">
					<tr>
						<th>Host</th>
						<th>Status</th>
						<th>Seeds</th>
						<th>Leeches</th>
						<th>Downloads</th>
					</tr>
					#{list items:torrent.torrent.trackers, as:"tracker"}
					<tr>
						<td>${tracker.host}</td>
						<td>
							#{if (tracker.lastAnnounceSuccessful)}
								<span class="text-success">${tracker.lastAnnounceResult}</span>
							#{/if}
							#{else}
								<span class="text-error">${tracker.lastAnnounceResult}</span>
							#{/else}
						</td>
						<td>
							#{if tracker.seederCount > -1}${tracker.seederCount}#{/if}
							#{else}<span class="text-error">n/a</span>#{/else}
						</td>
						<td>
							#{if tracker.leecherCount > -1}${tracker.leecherCount}#{/if}
							#{else}<span class="text-error">n/a</span>#{/else}
						</td>
						<td>
							#{if tracker.downloadCount > -1}${tracker.downloadCount}#{/if}
							#{else}<span class="text-error">n/a</span>#{/else}
						</td>
					</tr>
					#{/list}
				</table>
				#{/if}
				#{else}
					<p>No connected trackers.</p>
				#{/else}
			</div>
			<div class="tab-pane" id="torrent-peers">
				#{if (torrent.torrent.peers.size > 0)}
				<table class="table table-condensed table-striped">
					<tr>
						<th>Address</th>
						<th>Client</th>
						<th>Secure</th>
						<th>Down (kb/s)</th>
						<th>Up (kb/s)</th>
					</tr>				
					#{list items:torrent.torrent.peers, as:"peer"}
					<tr>
						<td>${peer.ipAddress}</td>
						<td>${peer.clientName}</td>
						<td>
							#{if peer.encryptionEnabled}<span class="text-success">yes</span>#{/if}
							#{else}<span class="text-error">no</span>#{/else}
						</td>
						<td>${Util.getBestRate(peer.downloadRateBytes)}/s</td>
						<td>${Util.getBestRate(peer.uploadRateBytes)}/s</td>
					</tr>
					#{/list}
				</table>
				#{/if}
				#{else}
					<p>No connected peers.</p>
				#{/else}
			</div>
			<div class="tab-pane" id="torrent-stats">
				<ul style="list-style-type:none;">
				%{ def t = torrent.torrent }%
				#{if t.metadataDownloading}
					<li><strong>Metadata:</strong> ${Util.formatPercentage(t.metadataPercentComplete * 100)}% complete</li>
				#{/if}
				#{else}
					<li><strong>Total Size:</strong> ${Util.getBestRate(t.totalSizeBytes)}</li>
					<li><strong>Download Speed:</strong> ${Util.getBestRate(t.downloadSpeedBytes)}/s
					<li><strong>Upload Speed:</strong> ${Util.getBestRate(t.uploadSpeedBytes)}/s</li>
					<li><strong>Amount Downloaded:</strong> ${Util.getBestRate(t.downloadedBytes)}</li>
					<li><strong>Amount Uploaded:</strong> ${Util.getBestRate(t.uploadedBytes)}<li>
					<li><strong>Ratio:</strong> ${Util.formatPercentage(t.ratio)}</li>
					<li><strong>Percent Complete:</strong> ${Util.formatPercentage(t.percentComplete * 100)}%</li>					
				#{/else}
				</ul>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a class="btn" href="#" data-dismiss="modal">Close</a>		
	</div>
</div>
<style type="text/css">
	#info-files-table td {
		vertical-align: middle;
	}
</style>
<script type="text/javascript">
(function($) {
	$(document).ready(function() {
		$("#torrent-info-modal").on("hidden", function() {
			$(this).remove();
		});	
	});
})(jQuery);
</script>
