%{
def file = _file
def finished = false
if (type != "info" && file.file) {
	finished = file.file.isFinishedDownloading()
}
}%
<tr data-level="${file.level}">
	#{if (file.level > 0)}
		<td style="padding-left: ${file.level * 20}px">${file.name}</td>
	#{/if}
	#{else}
		<td>${file.name}</td>
	#{/else}
	<td>
	#{if (_type == "info")}
		#{if (file.file)}
		<input type="checkbox" class="info-file" data-id="${file.file.transmissionId}" #{if (file.file.wanted)}checked="checked"#{/if} />
		#{/if}
		#{else}
		<input type="checkbox" class="info-select-multiple" #{if (file.anyChildWanted())}checked="checked"#{/if} />
		#{/else}
	#{/if}
	#{else}
		<span>${file.getNiceTotalSize()}</span>
	#{/else}
	</td>
	<td>
	#{if (_type == "info")}
		#{if (file.file)}
		<select class="torrent-priority" data-id="${file.file.transmissionId}" style="width:100%">
			<option value="-1" #{if (file.file.priority == -1)}selected="selected"#{/if}>Low</option>
			<option value="0" #{if (file.file.priority == 0)}selected="selected"#{/if}>Normal</option>
			<option value="1" #{if (file.file.priority == 1)}selected="selected"#{/if}>High</option>
		</select>
		#{/if}
	#{/if}
	#{else}
		#{if (file.file)}
			#{if (finished)}
				[<a href="/client/files/download?fileName=${java.net.URLEncoder.encode(file.file.name)}">Download</a>]
			#{/if}
			#{else}
				[ Downloading, ${file.file.percentComplete}% ]
			#{/else}
		#{/if}
		#{if (!file.file)}
			[<a href="/client/files/zip?directoryName=${java.net.URLEncoder.encode(file.fullPath)}">Zip</a>]
		#{/if}
	#{/else}
	</td>
</tr>	
%{
if (file.children.size() > 0) {
	for (child in file.children) {
		}%#{file-row file:child, type:_type /}%{		
	}
}
}%
