%{ def Util = com.openseedbox.code.Util }%
<tr>
	<td #{if (_file.level > 0)}style="padding-left: ${_file.level * 20}px"#{/if}>
		#{if (_file.children.size() > 0)}
			<i class="icon-folder-open"></i>
		#{/if}
		#{else}
			<i class="icon-file"></i>
		#{/else}
		#{if _file.file && _file.file.percentComplete == 1}
			<a href="${_file.file.downloadLink}">
		#{/if}
		${_file.name}
		#{if _file.file && _file.file.percentComplete == 1}
			</a>
		#{/if}
	</td>
	<td>		
		#{if _file.file}
			${Util.getBestRate(_file.file.fileSizeBytes)}	
		#{/if}
	</td>
	#{if _hidePercentComplete != "true"}
	<td>
		#{if _file.file}
			${String.format("%.2f", _file.file.percentComplete * 100)}%
		#{/if}
	</td>
	#{/if}
</tr>
#{if (_file.children.size > 0)}
	#{list items:_file.children, as:"child"}
		#{file-row file:child, hidePercentComplete: _hidePercentComplete /}
	#{/list}
#{/if}
