%{ def node = _arg }%
<tr class="node-${node.id}">
	<td>${node.name}</td>
	<td>${node.ipAddress}</td>
	<td>${node.getUptime()}</td>
	<td>${node.getFreeSpace()}</td>
	<td>${node.getUserCount()}</td>
	<td>
		#{if (node.getTransmission().isRunning())}
			<span style="color:green;">Running</span>
		#{/if}
		#{else}
			<span style="color:red;">Stopped</span>
		#{/else}
	</td>
	<td>
		[<a href="#" class="start-transmission" data-node-id="${node.id}">Start</a> |
			<a href="#" class="stop-transmission" data-node-id="${node.id}">Stop</a> |
			<a href="#" class="restart-transmission" data-node-id="${node.id}">Restart</a> |
			<a href="#" class="edit-transmission-config" data-node-id="${node.id}">Edit Config</a>]
		<img class="ajax-loader" src="/public/images/ajax-loader.gif" />
	</td>
</tr>
