<a class="btn btn-success pay-button btn-small pull-right" href="@{Account.paypalInvoice(_arg.id)}" id="invoice_${_arg.id}">Pay</a>
<script type="text/javascript">
	(function($) {
		$(document).ready(function() {
			var dg_${_arg.id} = new PAYPAL.apps.DGFlow({
				"trigger" : "invoice_${_arg.id}"
			});
			$("#invoice_${_arg.id}").click(function() {
				var ajax_url = "#{asset.ajax /}";
				var html = "<img src='" + ajax_url + "' /> Loading";
				$(this).html(html);
			});
		});
	})(jQuery);
</script>
