%{ def torrent = _arg; }%
<tr id="t_${torrent.hashString}" class="torrent">
	<td style="width:10px;vertical-align:middle;">
		<input type="checkbox" class="torrent-checkbox" data-torrent-hash="${torrent.hashString}" />
	</td>
	<td>
		<h3 class="pull-left torrent-name">${torrent.name}</h3>
		<div class="pull-right btn-group torrent-action-buttons">
			<a href="#" class="btn torrent-files-button" data-torrent-hash="${torrent.hashString}"><i class="icon-edit"></i>Info</a>
			#{if (torrent.isRunning()) }
				<a href="#" class="btn torrent-pause-button" data-torrent-hash="${torrent.hashString}"><i class="icon-pause"></i>Pause</a>
			#{/if}
			#{else}
				<a href="#" class="btn torrent-resume-button" data-torrent-hash="${torrent.hashString}"><i class="icon-play"></i>Resume</a>
			#{/else}
			<a href="#" class="btn torrent-remove-button" data-torrent-hash="${torrent.hashString}"><i class="icon-trash"></i>Remove</a>
		</div>
		<div class="clearfix"></div>
		<div class="pull-left">
			<h5 class="torrent-status-string">${torrent.statusString}</h5>
		</div>
		<div class="pull-right">
			Down: ${torrent.getDownloadedMb()}mb (${torrent.getRateDownloadKb()}kb/s),
			Up: ${torrent.getUploadedMb()}mb (${torrent.getRateUploadKb()}kb/s)
		</div>
		<div class="clearfix"></div>
		#{if torrent.metadataPercentComplete < 1}
		<div class="progress progress-danger torrent-progress-bar">
			<div class="bar" style="width: ${torrent.metadataPercentComplete * 100}%;">
				<div class="pull-right">${String.format("%.0f", torrent.metadataPercentComplete * 100)}%</div>
			</div>
		</div>
		#{/if}
		#{else}
		<div class="progress torrent-progress-bar">
			<div class="bar" style="width: ${torrent.percentDone * 100}%;">
				<div class="pull-right">${String.format("%.0f", torrent.percentDone * 100)}%</div>
			</div>
		</div>
		#{/else}
		<div class="pull-left">
			<h5 style="line-height:28px;" class="torrent-substatus-string">Total size: ${code.Util.getRateMb(torrent.totalSize)}mb ${torrent.subStatusString}<span style="visibility:hidden;">Spacer</span></h5>
		</div>
		<div class="btn-group pull-right">
			#{list items:torrent.groups, as:'group'}
			<div class="btn">
				<span>${group.name}</span>
				<a href="#" class="torrent-remove-group" data-torrent-hash="${torrent.hashString}">&times;</a>
			</div>
			#{/list}
			<a class="btn pull-right torrent-add-group" data-original-title="Click to add group" data-torrent-hash="${torrent.hashString}" href="#">+</a>				
		</div>
		<div class="clearfix"></div>
		<script type="text/javascript">
			(function($) {
				$(document).ready(function() {
					$(".torrent-add-group").tooltip();
				});
			})(jQuery);
		</script>
	</td>
</tr>