#{extends "account/index.html" /}
<p>Are you sure you want to switch to the '${newPlan.name}' plan?</p>
<h2>This will cost you $${newPlan.monthlyCost} per month.</h2><br />
#{if (oldPlan.monthlyCost == 0)}
	<p>Your current plan isn't costing you anything, so this change will take effect immediately, and your billing date will be from today.</p>
#{/if}
#{else}
	<div class="alert alert-warning">
		<h3>Note</h3>
		<p>Your billing cycle will be reset as of the payment date of <strong>this</strong> invoice.</p>
	</div>
#{/else}
<div class="form-actions">
	<a id="buy" class="btn btn-primary" href="@{AccountController.invoicePlan(newPlan.id)}">Buy Plan</a>
	<a class="btn btn-danger pull-right" href="@{AccountController.plans()}">Cancel</a>
</div>
<script type="text/javascript">
	(function($) {
		$(document).ready(function() {
			$("#buy").click(function() {
				setTimeout(function() {
					document.location = "@{AccountController.plans()}";
				}, 2000);
			});
		});
	})(jQuery);
</script>

