#{extends "main.html" /}
#{set title: "Account Settings" /}

#{if !currentUser.emailAddress}
<div class="alert alert-warning">
	<h4 class="alert-heading">You have not set your email address!</h4>
	We were unable to determine your email address from your OpenID provider.
	We need to know your email address as a point of contact. Dont worry, we wont
	spam you, any emails sent to the address you supply will only relate to
	your account. Please go <a href="@{Account.details}">here</a> to
	set your email address.
</div>	
#{/if}
<ul class="nav nav-tabs">
	<li #{if (active == "plans")}class="active"#{/if}>
		<a href="@{Account.plans}">Plan</a>
	</li>
	<li #{if (active == "invoices")}class="active"#{/if}>
		<a href="@{Account.invoices}">Invoices</a>
	</li>
	<li #{if (active == "details")}class="active"#{/if}>
		<a href="@{Account.details}">Account Details</a>
	</li>	
	<li #{if (active == "api")}class="active"#{/if}>
		<a href="@{Account.api}">API</a>
	</li>	
</ul>
<div class="tab-content">
	#{doLayout /}
</div>