#{extends "main.html" /}
#{set title: "Account Settings" /}

#{if !currentUser.emailAddress}
<div class="alert alert-warning">
	<h4 class="alert-heading">You have not set your email address!</h4>
	We were unable to determine your email address from your OpenID provider.
	We need to know your email address as a point of contact. Dont worry, we wont
	spam you, any emails sent to the address you supply will only relate to
	your account. Please go <a href="@{Account.details}">here</a> to
	set your email address.
</div>	
#{/if}
<div class="row">
	<div class="span3">
		<ul class="nav nav-tabs nav-stacked" style="margin-top: 50px;">
			<li #{if (active == "plans")}class="active"#{/if}>
				<a href="@{Account.plans}">Plans<i class="icon-chevron-right pull-right"></i></a>
			</li>
			<li #{if (active == "invoices")}class="active"#{/if}>
				<a href="@{Account.invoices}">Invoices<i class="icon-chevron-right pull-right"></i></a>
			</li>
			<li #{if (active == "details")}class="active"#{/if}>
				<a href="@{Account.details}">Account Details<i class="icon-chevron-right pull-right"></i></a>
			</li>
			<li #{if (active == "settings")}class="active"#{/if}>
				<a href="@{Account.settings}">Settings<i class="icon-chevron-right pull-right"></i></a>
			</li>
			<li #{if (active == "api")}class="active"#{/if}>
				<a href="@{Account.api}">API<i class="icon-chevron-right pull-right"></i></a>
			</li>	
		</ul>		
	</div>
	<div class="span9">#{doLayout /}</div>
</div>