#{extends "account/index.html" /}

#{if (!currentUser.plan)}
<p>You cant invite users unless you're on a plan!</p>
#{/if}
#{else}
<p>You can invite users to share your account. Invited users will be able to view your <strong>torrent data only</strong>.</p>
<h3>User Invitations</h3>
#{if (invitations.size > 0)}
	<table class="table table-bordered table-striped">
		<tr>
			<th>Email Address</th>
			<th width="20%">Invitation Date</th>
			<th width="10%">Accepted</th>
			<th width="25%">Action</th>
		</tr>
		#{list items:invitations, as:"invitation"}
		<tr>
			<td>${invitation.emailAddress}</td>
			<td>${invitation.invitationDateLocal}</td>
			<td>
				#{if (invitation.accepted)}
					<span class="success">Yes</span>
				#{/if}
				#{else}
					<span class="error">No</span>
				#{/else}
			</td>
			<td>
				<div class="pull-right">
					<a class="btn btn-danger" href="@{AccountController.removeInvitedUser(invitation.id)}">Remove</a>
					<a class="btn" href="@{AccountController.resendInvitationEmail(invitation.id)}">Resend Email</a>
				</div>
			</td>
		</tr>
	#{/list}
	</table>
#{/if}
#{else}
	<p>You have not invited any users to share your account yet.</p>
#{/else}
<h3>Invite a User</h3>
<form class="form-inline" method="post" action="@{AccountController.inviteUser}">
	#{form.text label:"Email Address", name:"emailAddress" /}
	#{form.actions buttons: [ "Invite a User" ] /}
</form>
#{/else}