#{extends "account/index.html" /}
#{set "moreScripts"}
	<script type="text/javascript" src="https://www.paypalobjects.com/js/external/dg.js"></script>
#{/set}

<h3>Unpaid Invoices</h3>
#{if unpaid_invoices.size > 0}
<table class="table table-bordered">
	<tr>
		<th>Invoice #</th>
		<th>Create Date</th>
		<th>Total Amount</th>
		<th>Payment Date</th>
		<th>Actions</th>
	</tr>
	#{list items:unpaid_invoices, as:"invoice"}
	<tr>
		<td><a href="@{AccountController.invoiceDetails(invoice.id)}">${invoice.id}</a></td>
		<td>${invoice.invoiceDateUtc}</td>
		<td>$${invoice.getTotalAmount()}</td>
		<td>#{if (invoice.hasBeenPaid())}
				${invoice.paymentDateUtc}			
			#{/if}
			#{else}
				<span class="alert-error">Not paid yet!</span>
			#{/else}
		</td>
		<td>
			#{if (!invoice.hasBeenPaid())}
				#{pay-invoice invoice /}
			#{/if}
			<a class="btn" href="@{AccountController.invoiceDetails(invoice.id)}">Details</a>
		</td>
	</tr>
	#{/list}
</table>
#{/if}
#{else}
	<p>No invoices for this account.</p>
#{/else}


<h3>Paid Invoices</h3>
#{if paid_invoices.size > 0}
<table class="table table-bordered">
	<tr>
		<th>Invoice #</th>
		<th>Create Date</th>
		<th>Total Amount</th>
		<th>Payment Date</th>
		<th>Actions</th>
	</tr>
	#{list items:paid_invoices, as:"invoice"}
	<tr>
		<td><a href="@{AccountController.invoiceDetails(invoice.id)}">${invoice.id}</a></td>
		<td>${invoice.invoiceDateUtc}</td>
		<td>$${invoice.getTotalAmount()}</td>
		<td>#{if (invoice.hasBeenPaid())}
				${invoice.paymentDateUtc}			
			#{/if}
			#{else}
				<span class="alert-error">Not paid yet!</span>
			#{/else}
		</td>
		<td>
			#{if (!invoice.hasBeenPaid())}
				#{pay-invoice invoice /}
			#{/if}
			<a class="btn" href="@{AccountController.invoiceDetails(invoice.id)}">Details</a>
		</td>
	</tr>
	#{/list}
</table>
#{/if}
#{else}
	<p>No invoices for this account.</p>
#{/else}
