#{extends "account/index.html" /}
<h3>Unpaid Invoices</h3>
#{if !unpaid_invoices.isEmpty()}
<table class="table table-condensed">
	<tr>
		<th style="width:5%">#</th>
		<th>Create Date</th>
		<th>Total Amount</th>
		<th>Payment Date</th>
		<th>Actions</th>
	</tr>
	#{list items:unpaid_invoices, as:"invoice"}
	<tr>
		<td>${invoice.id}</td>
		<td>${invoice.invoiceDate}</td>
		<td>$${invoice.getTotalAmount()}</td>
		<td>#{if (invoice.hasBeenPaid())}
				${invoice.paymentDate}			
			#{/if}
			#{else}
				<span class="alert-error">Not paid yet!</span>
			#{/else}
		</td>
		<td>
			<a class="btn btn-small" href="@{Account.invoiceDetails(invoice.id)}">Details</a>
			#{if (!invoice.hasBeenPaid())}
				<a class="btn btn-small btn-success" href="@{Account.payInvoice(invoice.id)}">Pay</a>
			#{/if}
		</td>
	</tr>
	#{/list}
</table>
#{/if}
#{else}
	<p>No invoices for this account.</p>
#{/else}


<h3>Paid Invoices</h3>
#{if !paid_invoices.isEmpty()}
<table class="table table-condensed">
	<tr>
		<th style="width: 5%">#</th>
		<th>Create Date</th>
		<th>Total Amount</th>
		<th>Payment Date</th>
		<th>Actions</th>
	</tr>
	#{list items:paid_invoices, as:"invoice"}
	<tr>
		<td>${invoice.id}</td>
		<td>${invoice.invoiceDate}</td>
		<td>$${invoice.getTotalAmount()}</td>
		<td>${invoice.paymentDate}</td>
		<td>
			<a class="btn btn-small" href="@{Account.invoiceDetails(invoice.id)}">Details</a>
		</td>
	</tr>
	#{/list}
</table>
#{/if}
#{else}
	<p>No paid invoices for this account.</p>
#{/else}
<style type="text/css">
	.table td {
		vertical-align: middle !important;
	}
</style>
