#{extends "account/index.html" /}

#{if currentUser.plan}
<div class="alert alert-warning">
	<h3>Warning</h3>
	<p>If you change a plan halfway through your billing cycle, you will be charged full price for the new plan
		<strong>but your billing cycle will be reset</strong>. No refund will be issued for a partial month.</p>
</div>
#{/if}
#{else}
	<h2>Choose one of our plans below to get started!</h2>
#{/else}

%{ def count = 0 }%
#{list items:plans, as:"plan"}
%{ def isCurrentPlan = (currentUser.plan == plan) }%
#{if (count % 2 == 0)}
<div class="row">
#{/if}
	<div class="span4 #{if plan_parity == "even"}offset1#{/if}">
		<div id="${plan.name}" class="well plan #{if isCurrentPlan}alert-info#{/if}">
			<div>
				<h2>${plan.name}
					<div class="pull-right">
					#{if (plan.freeSlots > 0)}
						#{if (isCurrentPlan)}
							<span class="btn btn-success">Current Plan</span>
						#{/if}
						#{else}
							<a id="edit" class="btn btn-primary" href="@{Account.buyPlan(plan.id)}">Choose Plan</a>	
						#{/else}
					#{/if}
					#{else}
						<span class="btn btn-danger">Sold out</span>
					#{/else}
					</div>
				</h2>
			</div>
			<div class="clearfix"></div>
			<p>
				<ul>
					<li><strong>Max. Diskspace:</strong> ${plan.maxDiskspaceGb} GB</li>
					<li><strong>Max. Active Torrents:</strong>
						#{if (plan.maxActiveTorrents == -1)}Unlimited#{/if}
						#{else}${plan.maxActiveTorrents}#{/else}
					</li>
					#{if (!isCurrentPlan)}
						#{if (plan.freeSlots > 0)}						
							<li><span class="text-success"><strong>Free Slots:</strong> ${plan.freeSlots}</span></li>
						#{/if}
					#{/if}
					#{else}
					<li style="visibility:hidden;">&nbsp;</li>
					#{/else}
				</ul>
			</p>
			<div class="form-actions">
				<div class="pull-left" style="font-size:200%;">
					<strong>$${plan.monthlyCost}</strong> / mo<br />
				</div>			
			</div>			
		</div>
	</div>
	%{ count++ }%
#{if (count % 2 == 0 || plan_isLast)}
</div>
#{/if}
#{/list}
#{else}
<p>No plans are available.</p>
#{/else}
