<!DOCTYPE html>
<html>
	<head>
		<title>OpenSeedbox - #{get "title" /}</title>
		<link rel="stylesheet" href="#{asset.url '/stylesheets/bootstrap.min.css' /}">
		<link rel="stylesheet" href="#{asset.url '/stylesheets/all.css' /}" />
		<link rel="shortcut icon" href="#{asset.url '/images/favicon.ico' /}" />
		#{get "moreStyles" /}
		<script src="#{asset.url '/javascripts/jquery.min.js' /}" type="text/javascript"></script>
		<script src="#{asset.url '/javascripts/bootstrap.min.js' /}" type="text/javascript"></script>
		<script src="#{asset.url '/javascripts/jquery-ui.position.min.js' /}" type="text/javascript"></script>
		#{get "moreScripts" /}
	</head>
	<body style="padding-top:70px;">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a id="logo" class="brand" href="/"><img src="#{asset.url '/images/top-logo.png' /}" /></a>
					<ul class="nav">
						#{if (currentUser)}
							<li class="#{get "torrents_active" /}"><a href="@{ClientController.index()}">Torrents</a></li>
							<li class="#{get "files_active" /}"><a href="@{ClientFilesController.index()}">Files</a></li>
							<li class="#{get "settings_active" /}"><a href="@{AccountController.plans()}">Settings</a></li>
							#{if (currentUser.isAdmin)}
								<li  class="#{get "admin_active" /}"><a href="@{AdminController.index()}">Admin</a></li>
							#{/if}
						#{/if}
					</ul>
					<ul class="nav pull-right">
						#{if (currentUser)}
							<li>
								<img src="${currentUser.avatarUrl}" style="padding-top:12px; height:45px;" />
							</li>
							<li>
								<a href="@{AccountController.plans()}">${currentUser.displayName}</a>
							</li>
						#{/if}
						#{if (currentUser)}
							<li><a href="@{AuthController.logout()}">Logout</a></li>
						#{/if}
						#{else}
							<li><a href="@{AuthController.login()}">Login</a></li>
						#{/else}
					</ul>
				</div>
			</div>
		</div>
		<div id="container" class="container" style="padding-top: 20px;">
			<div id="flash-error" class="alert alert-error #{ifError "general"}#{/ifError}#{else}hide#{/else}">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<h3 id="flash-error-heading" class="alert-heading">An error occured:</h3>
				<span id="flash-error-content">
					#{ifError "general"}#{error "general" /}#{/ifError}
				</span>
			</div>
			<div id="flash-message" class="alert alert-success #{if (!flash.message)}hide#{/if}">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<h3 id="flash-success-heading" class="alert-heading">Success:</h3>
				<span id="flash-message-content">
					#{if (flash.message)}
						${flash.message}
					#{/if}
				</span>
			</div>
			#{if (currentUser)}
				#{if (!currentUser.paidForPlan)}
				<div class="alert alert-error">
					<h4 class="alert-heading">We cant switch your plan unless you've paid!</h4>
					<p>You need to <a href="@{AccountController.invoices}">go pay your invoice</a> before you can start using a paid plan. If you have paid, please refresh the page.</p>
				</div>
				#{/if}				
				%{ def messages = currentUser.getUnreadMessages(); %}
				#{list items:messages, as:"message"}
				<div class="user-message alert #{if (message.state == 0)}alert-success#{/if}#{else}alert-error#{/else}">
					<a class="close" data-dismiss="alert" href="#" data-alert-id="${message.id}">&times;</a>
					<h3 class="alert-heading">${message.heading}</h3>
					<span>${message.message.raw()}</span>
				</div>
				#{/list}
			#{/if}		
			<div class="clearfix"></div>
			#{doLayout /}
		</div>
		<script type="text/javascript">
			(function($) {
				$(document).ready(function() {
					$(".user-message a.close").click(function() {
						var id = $(this).data("alert-id");
						$.post("@{ClientController.dismissMessage}?messageId=" + id);
					})
				});
			})(jQuery);
		</script>
		<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-32647401-2']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

		</script>		
	</body>
</html>
