<!DOCTYPE html>
<html>
	<head>
		<title>OpenSeedbox - #{get "title" /}</title>
		<link rel="stylesheet" href="#{asset.url '/stylesheets/bootstrap.min.css' /}">		
		<link rel="shortcut icon" href="#{asset.url '/images/favicon.ico' /}" />
		#{get "moreStyles" /}				
		<script src="#{asset.url '/javascripts/jquery.min.js' /}" type="text/javascript"></script>
		<script src="#{asset.url '/javascripts/bootstrap.min.js' /}" type="text/javascript"></script>		
		#{get "moreScripts" /}
	</head>
	<body style="padding-top:50px;">
		<div id="main-menu" class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a id="logo" class="brand" href="@{Client.index()}"><img src="#{asset.url '/images/top-logo.png' /}" /></a>
					<ul class="nav">
						#{if (currentUser?.isAdmin())}
							<li  class="#{get "admin_active" /}"><a href="@{Admin.index()}">Admin</a></li>
						#{/if}
					</ul>
					<ul class="nav pull-right">
						#{if (currentUser)}						
							<li>
								<a href="@{Account.index}"><img id="avatar" src="${currentUser.avatarUrl}" /></a>
							</li>
							<li>
								<a href="@{Account.index}">${currentUser.displayName}</a>
							</li>
							<li><a href="@{Auth.logout}">Logout</a></li>
						#{/if}
						#{else}
							<li><a href="@{Auth.login}">Login</a></li>
						#{/else}
					</ul>
				</div>
			</div>
		</div>
		<div id="container" class="container" style="padding-top: 20px;">
			<div id="flash-error" class="alert alert-error #{if !(flash.error)}hide#{/if}">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<h4 id="flash-success-heading" class="alert-heading">Error</h4>
				<span class="flash-message-content">
					${flash.error}
				</span>
			</div>
			#{if (flash.warning)}
			<div id="flash-warning" class="alert alert-warning">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<h4 id="flash-success-heading" class="alert-heading">Warning</h4>
				<span class="flash-message-content">
					${flash.warning}
				</span>
			</div>				
			#{/if}
			#{if (flash.message)}
			<div id="flash-message" class="alert alert-success">
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<h4 id="flash-success-heading" class="alert-heading">Success:</h4>
				<span class="flash-message-content">
					${flash.message}
				</span>
			</div>
			#{/if}
			<div class="clearfix"></div>
			#{doLayout /}
		</div>
		#{if mode != "dev"}
			<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-32647401-2']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
			</script>
		#{/if}
		<style type="text/css">			
			#main-menu .nav a {
				line-height: 41px;
			}
			#avatar {
				height: 40px;
				margin-top: -8px;
			}
		</style>
	</body>
</html>
